.login-form {

    flex-direction: column;
    display: flex;
    /* width: 30%; */
    width: 20rem;
    align-items: center;
    line-height: 2rem;
    height: 50%;
    /* margin: 60px auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    padding: 40px;
    border: 5px solid #ddd;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05); */
    /* background: #fff; */
    border-radius: 25px;
    box-shadow: -3px -3px 9px #aaa9a9a2,
        3px 3px 7px rgba(147, 149, 151, 0.671);
    color: white;
    background: none;
    /* background-image: url("/src/background_img.jpg"); */
}

.login-form .btn {
    margin: 1rem;
    color: white;
}

.login-form input {

    width: 100%;
    background: transparent;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-size: 1.1rem;
}

.login-form .label {
    width: 90%;
}