.book-img-div{
    text-align: center;
    padding: 2rem;
}

.book-img-div .book-img{

    width: 50%;
}

.book-details-holder{
    margin-top: 4rem;
}

.icon-div{
    margin : 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.book-description{
    font-size: 1.2rem;
    margin : 1rem;
}

.download-btn{
    margin : 1rem;
}

.icon-btn{
    /* background: none;
    border: none; */
}

.book-details .btn{
    color : white;
    border-width: 0.1rem;
}

.book-details-container{
    margin-bottom: 5rem;
}